services:
  postgres:
    image: postgres:15
    container_name: event-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventdb
    ports:
      - "5433:5432"   
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
